.App {
  padding: 16px;
  background-image: linear-gradient( rgb(107, 211, 240), rgb(226, 211, 211));
  min-height: 100vh;
  min-width: fit-content;
  display: flex;
}
.add-new-List{
  padding: 60px;
  /* background-color: aqua; */
}

